.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 75, 80);
    color: #fff;
    height: 50px;
}

.NavBar p {
    margin-left: 20px;
}

.IconMenuMovil {
    display: none;
}

.NavBar_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    width: 50%;
}



@media (max-width: 750px) {

    .NavBar{
        display: flex;
        justify-content: space-around;
    }
    .NavBar_items {
        display: none;
    }

    .IconMenuMovil {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    .NavBar_items_Open {
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        color: #fff;
        background-color: rgb(46, 45, 45);
        width: 100%;
        height: 400px;

    }

    .NavBar_items_Open a {
        margin: 30px;
        
    }
    .NavBar_items_Open a:hover {
        color: #e7dbdb;
        opacity: 0.5;
    }

    
}